
:root {
    --nav-height: 50px;
    --nav-background: rgb(51,51,51);
    --nav-color: rgb(150, 150, 150);
    --nav-active-color: rgb(255, 255, 255);
    --side-width: 200px;
}

nav {
    position: sticky;
    /*固定する*/
    position: -webkit-sticky;
    /*Safari用ベンダープレフィックス*/
    top: 0;
    /*ブラウザの上からの距離はゼロ*/
    z-index: 1000;
    display: none;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    height: var(--nav-height);
    background: var(--nav-background);
    transition: 0.3s;
}

#side-fixed {
    background-color: var(--nav-background);
    color: white;
    z-index: -1;
}

nav>a>img {
    height: calc(var(--nav-height) - 20px);
}

nav>a>span {
    color: var(--nav-active-color);
    margin-left: 0px;
    letter-spacing: 0.1em;
    font-size: 18px;
    vertical-align: middle;
    /* font-style: italic; */
}

.nav-links {
    display: flex;
    height: var(--nav-height);
    align-items: left;
}

.nav-links li {
    list-style: none;
    margin: 0 25px 0 0;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    position: relative;
}

/* menu */

.menu {
    cursor: pointer;
    background: var(--nav-background);
    border: none;
    outline: none;
    display: none;
}

.menu .bar {
    width: 20px;
    height: 2px;
    background: gray;
    border-radius: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
    transform-origin: left;
}

.menu .bar1 {
    margin-bottom: 5px;
}

.menu .bar3 {
    margin-top: 5px;
}

.menu.toggle .bar1 {
    transform-origin: left;
    transform: rotate(45deg);
}

.menu.toggle .bar2 {
    opacity: 0;
    visibility: hidden;
}

.menu.toggle .bar3 {
    transform-origin: left;
    transform: rotate(-45deg);
}

.category-lv1 {
    margin: 35px 0 10px 0px;
}

.category-lv2 {
    margin: 15px 0 5px 0px;
}

.category-lv3 {
    margin: 15px 0 5px 0px;
}

.category-lv4 {
    margin: 15px 0 5px 0px;
}

.category-lv5 {
    margin: 15px 0 5px 0px;
}

.category-lv2>a {
    padding-left: 20px;
    color: var(--nav-color);
}

.category-lv3>a {
    padding-left: 40px;
    color: var(--nav-color);
}

.category-lv4>a {
    padding-left: 40px;
    color: var(--nav-color);
}

.category-lv5>a {
    padding-left: 60px;
    color: var(--nav-color);
}

.category-lv1:not(.current)>a {
    padding-left: 20px;
    border-bottom: solid 1px var(--nav-color);
}

.category-lv1:not(.current)>a:hover {
    padding-left: 20px;
    border-bottom: solid 1px var(--nav-active-color);
}

.category-lv1.current>a {
    padding-left: 20px;
    border-bottom: solid 1px var(--nav-active-color);
}

#side-fixed>.home {
    text-align: center;
    color: var(--nav-color);
    border-bottom: solid 1px var(--nav-color);
}

#side-fixed>.home:hover {
    text-align: center;
    color: var(--nav-active-color);
    border-bottom: solid 1px var(--nav-active-color);
}

#side-fixed>.home.current {
    text-align: center;
    color: var(--nav-active-color);
    border-bottom: solid 1px var(--nav-active-color);
}

#side-fixed>.home>a {
    color: var(--nav-color);
    border-bottom: none;
}

#side-fixed>.home>a:hover {
    color: var(--nav-active-color);
}

#side-fixed>.home.current>a {
    color: var(--nav-active-color);
}

div[class*=category-lv]:not(.current)>a:hover {
    color: var(--nav-active-color);
}

div[class*=category-lv].current>a {
    color: var(--nav-active-color);
}

div[class*=category-lv]:not(.current)>a {
    color: var(--nav-color);
}

#side {
    max-width: var(--side-width);
}

#main {
    width: calc(100% - (var(--side-width) * 1));
}

#goToTopBtn {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 2px;
    /* Place the button at the bottom of the page */
    right: 1px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--nav-background);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 3px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: all 1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    width: var(--side-width);
}

#goToTopBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* responsive */

@media screen and (max-width: 500px) {
    nav {
        display: flex;
    }
    .menu {
        display: block;
        margin-left: auto;
    }
    #side {
        position: fixed;
        top: calc(var(--nav-height) + 1px);
        left: 100%;
        transition: 0.5s;
    }
    #side.toggle {
        transform: translateX(-100%);
    }
    #main {
        width: 100%;
    }
    .grid {
        padding: 5px 5px;
    }
    #sitename {
        font-size: 3.5rem;
    }
    #sitename img {
        height: 100px;
        width: 100px;
    }
    #goToTopBtn {
        width: 60px;
        right: 20px;
        bottom: 20px;
    }
}

