@charset "UTF-8";
/*
$fore-color: #EEEEEE;
$back-color:#393E46;
$header-fore-color: white;
$header-back-color:#222831;
$headline-color: white;
$text-shdow-color: rgba(0, 0, 0, .5);
$link-color: #ffd04f;
$link-hover-color:#ff9a1d;
$nav-active-color: rgb(255, 255, 255);
$grid-back-color: #222831;

*/
/* ======================= COMMON Elements ========================= */
html { scroll-behavior: smooth; overflow: auto; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; font-size: 62.5% !important; }

body { font-family: "Meiryo", "Hiragino Kaku Gothic Pro", "Yu PGothic", "MS PGothic", sans-serif; font-weight: 400; color: lightgray; background: #333333; display: flex; flex-flow: column; min-height: 100vh; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); line-height: 2em; margin: 0; padding: 0; font-size: 1.7em; }

a { word-break: break-all; text-decoration: none; background-color: transparent; -webkit-text-decoration-skip: objects; color: #ffd04f; transition: 0.25s; }

a:hover { transition: 0.25s; color: #ff9a1d; }

img { max-width: 100%; }

/* ======================= HEADER ========================= */
#head-in { color: white; background: #0f0f0f; display: flex; justify-content: center; align-items: center; padding: 10px 0; }

#sitename > a { display: flex; justify-content: center; align-items: center; font-weight: bold; -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: white; -webkit-text-fill-color: #0f0f0f; font-size: 10vh; }

@media (max-width: 950px) { #sitename > a { -webkit-text-stroke-width: 1px; font-size: 14vw; } }

#sitename img { /* filter: drop-shadow(5px, 1px, 13px, rgba(255,255,255)); */ animation-name: floating; animation-duration: 4s; animation-iteration-count: infinite; animation-timing-function: ease-in-out; margin-left: 0px; margin-right: 20px; }

@keyframes floating { from { /* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
    transform: translate(0, -6px); }
  50% { /* box-shadow: 0 25px 15px 0px rgba(255,255,255,0.2); */
    transform: translate(0, 6px); }
  to { /* box-shadow: 0 5px 15px 0px rgba(255,255,255,0.6); */
    transform: translate(0, -6px); } }

/* ======================= FOOTER ========================= */
#footer { margin-top: auto; }

#copyright { font-size: 1.2rem; padding: 20px 0; color: white; background: #0f0f0f; clear: both; }

#copyright .copy { font-size: 1.2rem; line-height: 1; margin: 20px 0 0; text-align: center; }

/* ======================= PAGE LIST ========================= */
.grid { background: #444444; box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1); border-radius: 4px; padding: 45px 28px; }

#list, .grid { margin: 20px; }

.term { margin: 0; }

.term img { float: left; height: auto; margin-right: 10px; background: inherit; filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.5)); }

#list a { word-break: normal; }

#list .excerpt { margin: 0 0 12px; line-height: 1.8; }

#list .read-more { clear: both; line-height: 1; margin: 35px 0 30px; text-align: right; margin: 0; }

.meta, .post .meta { margin: 0; font-size: 1.4rem; margin-bottom: 35px; vertical-align: middle; padding: 16px 0; }

.meta span { margin: 0 12px 0 0; }

.meta span.break { margin: 0 8px 0 4px; }

.meta span.first-item { margin: 0 0 0 10px; white-space: nowrap; }

.meta-box { margin: 30px 10px; }

.toc .meta-u, .post .meta-u { background: 0 0; border: 0; margin: 0 0 10px; padding: 0; }

.post .meta-u { overflow: hidden; text-align: right; }

.post a { text-decoration: underline; }

.post ul, .post ol { padding: 0 0 0 30px; }

.post .vcard { text-align: right; }

.post .vcard i, .post .vcard svg { margin-right: 8px; }

.post span[id^="toc_id_"] { display: block; padding-top: 60px; margin-top: -60px; }

/* ======================= POST ========================= */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: white; }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 { line-height: 1.4; margin-top: 35px; margin-bottom: 30px; }

.post h1.entry-title { position: relative; padding: 0.25em 1em; border-top: solid 2px white; border-bottom: solid 2px white; border-left: none; font-size: 1.8em; }

.post h1.entry-title:before, .post h1.entry-title:after { content: ""; position: absolute; top: -7px; width: 2px; height: -webkit-calc(100% + 14px); height: calc(100% + 14px); background-color: white; }

.post h1.entry-title:before { left: 7px; }

.post h1.entry-title:after { right: 7px; }

.post h1 { border-bottom: dashed 1px white; padding: 0.3em 0; font-size: 1.6em; }

.post h2 { font-size: 1.4em; }

.post h3 { font-size: 1.2em; }

.post h4 { font-size: 1em; }

.post h5 { font-size: 1em; }

.post h6 { font-size: 1em; text-indent: 0.5em; }

.post h6:before { font-family: "Font Awesome 5 Free"; content: "\f058"; position: relative; left: -0.5em; }

.post h1:first-child, .post h2:first-child { margin-top: 30px; }

#toc_container { /* display: table; */ margin-bottom: 20px; /* padding: 10px; */ /* color: #333; */ min-width: 50%; max-width: 80%; display: block; z-index: 10; background-color: rgba(0, 0, 0, 0.5); box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(179, 179, 179, 0.1), 0 -1px 0 rgba(13, 13, 13, 0.5); border-radius: 5px; padding: 0.3em; height: auto; transition: height 2s ease-in-out; }

#toc_container a { /* color: #333; */ color: lightgray; text-decoration: none; }

#toc_container a:hover { /* text-decoration: underline */ color: white; text-decoration: none; }

.toc_list a::after, a.entry-link::after { width: 0px; }

#toc_toggle { display: none; white-space: nowrap; margin: 0; }

#toc_toggle:checked + .toc_toggle:before { content: "Hide"; }

.toc_toggle:before { padding: 2px 5px; margin-left: 10px; content: "Show"; cursor: pointer; border-top: transparent; border-left: transparent; border-right: transparent; border-bottom: dashed 1px; }

#toc_toggle:checked + .toc_toggle + .toc_list { width: auto; height: auto; margin-top: 20px; transition: all 0.3s; }

.toc_toggle + .toc_list { overflow: hidden; width: 0; height: 0; margin-top: 0; transition: all 0.3s; }

.post .cover { display: flex; justify-content: center; }

.post .cover img { width: 90%; max-width: 700px; max-height: 200px; object-fit: cover; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); margin-bottom: 30px; }

/* ======================= QUOTE ========================= */
blockquote, .wp-block-quote { display: block; position: relative; overflow: hidden; overflow-wrap: break-word; margin: 1.6em 5px; padding: 25px; font-size: 1.4rem; background-color: rgba(0, 0, 0, 0.5); border: 0; border-radius: 5px; box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(179, 179, 179, 0.1), 0 -1px 0 rgba(13, 13, 13, 0.5); }

blockquote:after { content: "\275b\275b"; display: block; position: absolute; font-family: Arial, sans-serif; font-size: 200px; line-height: 1em; left: -25px; top: -15px; opacity: 0.1; }

blockquote ol:first-child, blockquote p:first-child, blockquote ul:first-child { margin-top: 5px; }

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child { margin-bottom: 5px; }

nav { position: sticky; position: -webkit-sticky; top: 0; z-index: 100; display: none; padding: 0 20px; align-items: center; width: 100%; height: 50px; background: #333333; transition: 0.3s; box-sizing: border-box; }

nav a { display: flex; justify-content: center; align-items: center; }

nav a img { height: 30px; }

nav a span { color: white; margin-left: 0px; letter-spacing: 0.1em; font-size: 18px; vertical-align: middle; /* font-style: italic; */ }

.nav-links { display: flex; height: 50px; align-items: left; }

.nav-links li { list-style: none; margin: 0 25px 0 0; height: 50px; line-height: 50px; text-align: center; }

.nav-links li a { text-decoration: none; color: white; position: relative; }

/* menu */
.menu { cursor: pointer; background: #333333; border: none; outline: none; display: none; }

.menu .bar { width: 20px; height: 2px; background: lightgray; border-radius: 5px; opacity: 1; visibility: visible; transition: 0.5s ease; transform-origin: left; }

.menu .bar1 { margin-bottom: 5px; }

.menu .bar3 { margin-top: 5px; }

.menu.toggle .bar1 { transform-origin: left; transform: rotate(45deg); }

.menu.toggle .bar2 { opacity: 0; visibility: hidden; }

.menu.toggle .bar3 { transform-origin: left; transform: rotate(-45deg); }

#side-fixed { background-color: #333333; }

#side-fixed a { color: #a0a0a0; }

#side-fixed a:hover { color: white; }

#side-fixed > .title { text-align: center; color: lightgray; border-bottom: solid 1px lightgray; padding-top: 40px; margin-bottom: 10px; }

#side-fixed > .title.current { text-align: center; border-bottom: solid 1px white; }

#side-fixed > .title.current > a { color: white; }

.category-lv1 { margin: 35px 0 10px 0px; }

.category-lv2 { margin: 15px 0 5px 0px; }

.category-lv3 { margin: 15px 0 5px 0px; }

.category-lv4 { margin: 15px 0 5px 0px; }

.category-lv5 { margin: 15px 0 5px 0px; }

.category-lv2 > a { padding-left: 20px; }

.category-lv3 > a { padding-left: 40px; }

.category-lv4 > a { padding-left: 40px; }

.category-lv5 > a { padding-left: 60px; }

.category-lv1:not(.current) > a { padding-left: 20px; border-bottom: solid 1px #a0a0a0; }

.category-lv1:not(.current) > a:hover { padding-left: 20px; border-bottom: solid 1px white; }

.category-lv1.current > a { padding-left: 20px; border-bottom: solid 1px white; }

#side-fixed > div.current[class*=category-lv] > a { color: white; }

#goToTopBtn { display: block; /* Hidden by default */ position: fixed; /* Fixed/sticky position */ bottom: 2px; /* Place the button at the bottom of the page */ right: 1px; /* Place the button 30px from the right */ z-index: 99; /* Make sure it does not overlap */ border: none; /* Remove borders */ outline: none; /* Remove outline */ background-color: #333333; /* Set a background color */ color: #ededed; background-color: #1a1a1a; /* Text color */ cursor: pointer; /* Add a mouse pointer on hover */ padding: 15px; /* Some padding */ border-radius: 3px; /* Rounded corners */ font-size: 18px; /* Increase font size */ transition: all 1s ease-in-out; visibility: hidden; opacity: 0; transition: visibility 0.5s, opacity 0.5s linear; width: 200px; }

#goToTopBtn:hover { background-color: black; color: white; }

ul.toc_list { padding: 0.5em 0.5em 0.5em 2em; }

.toc_list ul { padding-left: 1.5em; }

ul.toc_list li { line-height: 1.5; /*文の行高*/ padding: 0.5em 0; /*前後の文との余白*/ }

#primary { display: flex; justify-content: center; }

#main { -webkit-box-flex: 10 10 800px; -ms-flex: 10 10 800px; flex: 10 10 800px; max-width: 1500px; min-width: 0; overflow-wrap: break-word; word-wrap: break-word; }

#right-side { -webkit-box-flex: 10 1 200px; -ms-flex: 10 1 200px; flex: 10 1 200px; max-width: 250px; }

#left-side { -webkit-box-flex: 10 1 300px; -ms-flex: 10 1 300px; flex: 10 1 300px; max-width: 400px; }

#side-fixed { position: sticky; top: 0; }

#toc_container { display: none; }

@media (max-width: 950px) { #toc_container { display: block; } #left-side { display: none; } }

@media (max-width: 600px) { #toc_container { display: block; } #left-side { display: none; } nav { display: flex; } .menu { display: block; margin-left: auto; } #right-side { position: fixed; top: 51px; left: 100%; transition: 0.5s; width: 200px; } #right-side.toggle { transform: translateX(-100%); } #sitename img { height: 100px; width: 100px; } #goToTopBtn { width: 60px; right: 20px; bottom: 20px; } .term img { float: none; width: 100%; object-fit: cover; max-height: 150px; } }

.section-nav { margin: 40px; padding: 10px; display: flex; justify-content: space-evenly; align-items: center; }

.section-nav a, .section-nav span { padding: 12px 12px 10px; color: #fff; font-size: 16px; text-transform: uppercase; font-weight: 700; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(51, 51, 51, 0.3), inset 0 1px 1px rgba(211, 211, 211, 0.5); -moz-box-shadow: 0 1px 3px rgba(51, 51, 51, 0.3), inset 0 1px 1px rgba(211, 211, 211, 0.5); box-shadow: 0 1px 3px rgba(51, 51, 51, 0.3), inset 0 1px 1px rgba(211, 211, 211, 0.5); background-color: #6b6b6b; }

.section-nav a:hover { color: white; background-color: #8c8c8c; }

.section-nav .next, .section-nav .prev { position: relative; }

.section-nav .next:after, .section-nav .prev:before { font-size: 36px; color: #1a1a1a; font-weight: 900; text-shadow: 0 1px 0 rgba(211, 211, 211, 0.4); position: absolute; top: 6px; }

.section-nav .next:after { content: '\203A'; right: 8px; }

.section-nav .prev:before { content: '\2039'; left: 8px; }

.section-nav .prev, .section-nav .prev:hover { padding-left: 40px; }

.section-nav .next, .section-nav .next:hover { padding-right: 40px; }

.section-nav .disabled { opacity: .5; cursor: default; }

.page-num { border-radius: 10px; display: inline-block; }

.section-nav > .page-num-container { width: auto; }

:not(pre[class*=language-]) > code { background-color: rgba(0, 0, 0, 0.5); padding: 4px 8px; margin: 0 3px; border-radius: 5px; box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(179, 179, 179, 0.1), 0 -1px 0 rgba(13, 13, 13, 0.5); font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; white-space: nowrap; }

pre[class*=language-] { background-color: rgba(0, 0, 0, 0.5); box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(179, 179, 179, 0.1), 0 -1px 0 rgba(13, 13, 13, 0.5); }

pre[class*=language-]::-webkit-scrollbar { width: 10px; height: 10px; }

pre[class*=language-]::-webkit-scrollbar-track { border-radius: 5px; background-color: rgba(51, 51, 51, 0.4); }

pre[class*=language-]::-webkit-scrollbar-thumb { border-radius: 5px; background: gray; box-shadow: 1px 1px 3px 3px rgba(51, 51, 51, 0.5) inset, -1px -1px 3px 3px rgba(51, 51, 51, 0.5) inset; }

.note { color: white; font-weight: 400; font-size: 0.8em; margin: 30px 0; margin-left: -38px; padding: 20px 20px 24px; padding-left: 50px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; position: relative; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); background-color: #7e6d42; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5d5030)); background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5d5030 100%); background-image: -moz-linear-gradient(top, #7e6d42 0%, #5d5030 100%); background-image: -o-linear-gradient(top, #7e6d42 0%, #5d5030 100%); background-image: linear-gradient(to bottom, #7e6d42 0%, #5d5030 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5d5030', GradientType=0); line-height: 1.5em; }

.note:before { content: ""; position: absolute; top: -10px; left: 0; border-color: transparent #222 #222 transparent; border-style: solid; border-width: 5px; width: 0; height: 0; }

.note p { margin: 0; color: white; font-weight: 400; font-size: 0.8em; }

.note strong { margin: 0; color: white; line-height: 1.5em; font-size: 1.3em; }

.note:after { content: "★"; color: #fc2; position: absolute; top: 14px; left: 14px; font-size: 28px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); line-height: 1.21; }

.info { color: white; font-weight: 400; font-size: 0.8em; margin: 30px 0; margin-left: -38px; padding: 20px 20px 24px; padding-left: 50px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; position: relative; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); background-color: #0389aa; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#026178)); background-image: -webkit-linear-gradient(top, #0389aa 0%, #026178 100%); background-image: -moz-linear-gradient(top, #0389aa 0%, #026178 100%); background-image: -o-linear-gradient(top, #0389aa 0%, #026178 100%); background-image: linear-gradient(to bottom, #0389aa 0%, #026178 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#026178', GradientType=0); line-height: 1.5em; }

.info:before { content: ""; position: absolute; top: -10px; left: 0; border-color: transparent #222 #222 transparent; border-style: solid; border-width: 5px; width: 0; height: 0; }

.info p { margin: 0; color: white; font-weight: 400; font-size: 0.8em; }

.info strong { margin: 0; color: white; line-height: 1.5em; font-size: 1.3em; }

.info:after { content: "ⓘ"; color: #fff; position: absolute; top: 14px; left: 14px; font-size: 28px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); line-height: 1.21; }

.warn { color: white; font-weight: 400; font-size: 0.8em; margin: 30px 0; margin-left: -38px; padding: 20px 20px 24px; padding-left: 50px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; position: relative; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3); background-color: #9e2812; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#701c0d)); background-image: -webkit-linear-gradient(top, #9e2812 0%, #701c0d 100%); background-image: -moz-linear-gradient(top, #9e2812 0%, #701c0d 100%); background-image: -o-linear-gradient(top, #9e2812 0%, #701c0d 100%); background-image: linear-gradient(to bottom, #9e2812 0%, #701c0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#701c0d', GradientType=0); line-height: 1.5em; }

.warn:before { content: ""; position: absolute; top: -10px; left: 0; border-color: transparent #222 #222 transparent; border-style: solid; border-width: 5px; width: 0; height: 0; }

.warn p { margin: 0; color: white; font-weight: 400; font-size: 0.8em; }

.warn strong { margin: 0; color: white; line-height: 1.5em; font-size: 1.3em; }

.warn:after { content: "‼"; color: #fc0; position: absolute; top: 14px; left: 14px; font-size: 28px; font-weight: 700; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); line-height: 1.21; }

@media (max-width: 600px) { .note, .warn, .info { margin-right: -40px; } }

table { width: 100%; background-color: #555; margin: .5em 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

thead { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; color: #fff; background-color: #3a3a3a; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhM2EzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTFlMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#1e1e1e)); background-image: -webkit-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%); background-image: -moz-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%); background-image: -o-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%); background-image: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e', GradientType=0); }

thead th { position: relative; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

thead th:first-child { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; }

thead th:last-child { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; }

td { padding: .5em .75em; }

td p { margin: 0; }

th { text-transform: uppercase; font-size: 16px; padding: .5em .75em; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9); color: #888; }

tbody td { border-top: 1px solid #747474; border-top: 1px solid rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff', GradientType=0); }

tbody td ul { padding-left: 1em; }

tbody td p, tbody td ul { font-size: 16px; }

tbody td p code, tbody td ul code { font-size: 14px; }
